body {
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

.name {
    margin: 45px 0px 15px 0px;
}

h2 {
    font-size: 20px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.primary-link {
  padding: 15px 15px;
  font-size: 22px;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

.secondary-link {
  padding: 15px 15px;
  font-size: 22px;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

p {
    float: right;
    writing-mode: vertical-rl ;
    text-orientation: mixed;
}

.side-link {
  padding: 10px 0px;
  font-size: 19px;
  text-decoration: none;
  text-transform: capitalize;
  color: rgba(52, 51, 51, 0.676);
}