body {
    background-image:  
        url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/037/415/original/backgroundupdate.png?1655354209");
    background-size: 1650px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

.handwriting {
    margin: 45px 0px 15px 0px;
}

h2 {
    font-size: 20px;
    text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.primary-link,
.secondary-link,
.project-links {
  padding: 15px 15px;
  font-size: 22px;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

p {
    float: right;
    writing-mode: vertical-rl ;
    text-orientation: mixed;
}

.side-link {
  padding: 10px 0px;
  font-size: 19px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  color: rgba(52, 51, 51, 0.758);
}